body {
    background-color: rgb(22, 48, 48);

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 40px;
    color: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

nav {
    border: 5px solid whitesmoke;
}

a {
    color: wheat;
    text-decoration: none;

}

header h1 {
    color: khaki;
}

header {
    text-align: center;

}

.texto1 h3 {
    color: rgb(188, 181, 181);
}

.texto1 {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.texto2 {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.texto2 img {
    width: 470px;
    height: 350px;

}